    <section id="aboutSection" class="about-section">
        <div class="page-padding">
            <p>
                To quote the author, Arthur C. Clarke, who I have never read, “Any sufficiently advanced 
                technology is indistinguishable from magic.” The term “Clarke Tech” is now used to describe such 
                technologies. I think it’s not at all wrong to say that large parts of our modern lives are 
                spent using devices that fall under this term. How many layers of seemingly arcane knowledge are 
                needed to understand how what I am writing now will be recorded, stored, and finally sent to 
                your screen? A lot, I think.  
            </p>
            <p>
                I am fascinated by the new phenomenon of living parts of our lives through technology that most 
                of us don’t fully understand. Even the very curious among us can only understand so much. While I want 
                to be able to write about everything and anything that pops into my mind in 
                this blog, I also plan for the recurring through line to be discussion into the inner workings 
                of new technologies and their often strange effects on the people who use them.                         
                Hopefully, you will enjoy the adventure.
            </p>
        </div>
    </section>