<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>admin</title>
</head>
<body>
    <section class="home-section">
        <div class="form-layout">
            <form class="form-itself" action="/login" method="GET">
                <label for="userName"><b>Name thy self, traveler!</b></label>
                <input class="form-input" type="text" placeholder="Enter Name" name="userName">
              
                <label for="password"><b>Password</b></label>
                <input class="form-input" type="password" placeholder="Enter Password" name="password">
              
                <input type="submit" value="Login" class="button-select">
            </form>
        </div>
    </section>
</body>
</html>