<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>admin</title>
</head>
<body>
    <section class="home-section">
        <h1>Welcome!</h1>
        <div class="form-layout">
            <form class="form-itself" action="/create" method="GET">
                <label for="title"><b>Title</b></label>
                <input class="form-input" type="text" placeholder="Enter Name" name="title">
              
                <label for="content"><b>Content</b></label>
                <textarea placeholder="Add content" class="form-input" name="content" id="contentsinput" cols="30" rows="10"></textarea>

                <input type="submit" value="Create" class="button-select">
            </form>
        </div>
    </section>
</body>
</html>